html {
  height: 100%;
  width: 100%;
}

body {
  height: 80vw;
  width: 100%;
  font-family: sans-serif;
  /*background-image: url('img/code.jpg');
  background-repeat: no-repeat;*/
  padding: 60px;
}

.main-container {
  width: 75%;
  margin: auto;
  background: #57BDE8;
  padding: 5px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.main-container h1 {
  text-align: center;
  margin-bottom: 60px;
}

.logoContainer {
    margin: 20px auto;
    width: 90%;
    height: 120px;
    background-color: white;
}

.devLogo {
    /*width: 45vw;
    height: 13vh;
    margin: auto;*/
    background-image: url('img/logowhiteblue.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

/*p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}*/
.message {
    /*display: inline-block;*/
    text-align: center;
    margin: 3px 3px;
    font-size: 20px;
    border-bottom: 1px, solid, gray;
}
.timeAt {
    /*display: inline-block;*/
    font-size: 12px;
    text-transform: capitalize;
}
hr {
    width: 90%;
}
